@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ptsans-400.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ptsans-700.woff2') format('woff2');
  font-display: swap;
}

html {
  height: 100%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 0;
}

ol,
ul,
li {
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1200px;
  font-family: 'PT Sans' sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000;
  background-color: #f2f2f2;
}

.page-container {
  background-color: #fff;
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Временно скрыл h1-h2 заголовки */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Header */
.page-header {
  color: #000;
  background-color: #fff;
}
.navigation {
  display: flex;
  padding: 0 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 460px;

  align-items: center;
  list-style-type: none;
}

.navigation-item {
  position: relative;
  margin-right: 32px;
}

.navigation-item-icon:first-child {
  margin-right: 25px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.icon-favorites::before {
  content: '';
  position: absolute;

  left: 9px;
  width: 20px;
  height: 20px;
  background-image: url(../images/header/favorites-count.svg);
  z-index: 2;
}

.navigation-user {
  display: flex;
  margin-left: auto;

  justify-content: flex-end;
}

.navigation-logo {
  margin-bottom: -10px;
  margin-right: 44px;
  line-height: 1;
}

.navigation-logo-image {
  display: block;
}

.navigation-link {
  padding: 20px 0;
  position: relative;
  display: block;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-link-current::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #756257;
  z-index: 1;
}

.navigation-link-icon {
  width: 20px;
  height: 20px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 1;
}

.navigation-link-button {
  display: flex;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;

  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
  padding: 8px 34px;
  border-radius: 4px;
}

/* --- */

/* background hero-блока */
.main-index-hero-container {
  margin-top: 0;
}
.main-index-hero {
  flex-grow: 1;
  background-image: url(../images/index/divider.png), url(../images/index/main-hero-background.jpg);
  background-position: center bottom, center;
  background-size: 100% auto;
  background-repeat: no-repeat, no-repeat;
  background-color: #82b3d3;
  width: 1200px;
  height: 485px;
  margin: 0 auto;
}
/* Оттцентровал Welcom-картинку */
.hero-image {
  display: flex;
  justify-content: center;
  padding-top: 51px;
}

/* Hero-блок и поиск отеля*/
.main-description-sedona-container {
  display: flex;
  flex-direction: column;
}
.main-description-sedona-title {
  display: flex;
  width: 620px;

  margin: 69px auto 25px;
  /* padding-top: 69px; */
}
.main-description-sedona,
.main-hotel-search-description {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333;
  background-color: white;
}
.main-description-sedona-title,
.main-hotel-search-title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: black;
  background-color: white;
  text-transform: uppercase;
}

.main-description-sedona-text {
  width: 651px;
  height: 26px;
  margin: 0 auto 90px;
}
/* Блок-Преимуществ */
.main-advantages {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.main-advantages-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-auto-flow: dense;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  text-align: center;
  list-style-type: none;
}
.main-advantages-container-text {
  display: flex;
  flex-direction: column;
}
.main-advantages-item {
  display: flex;
  flex-direction: column;
}

.main-advantages-image {
  grid-column: span 2;
}

.main-advantages-picture {
  width: 800px;
  height: 384px;
}
.main-advantages-title {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 0 62px;
}

.underline::after {
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  content: '';
  position: absolute;
  display: block;
  top: 86px;
  left: 50%;
  transform: translate(-50%);
  width: 60px;
}

.bg-light-blue .underline::after {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.main-advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.main-advantages-item-small {
  padding: 103px 85px 121px;
}

.bg-light-blue {
  padding: 92px 85px 111px;
  color: white;
  background-color: #82b3d3;
}

.bg-light-grey {
  background: rgba(131, 179, 211, 0.12);
}

.main-advantages-houses,
.main-advantages-foods,
.main-advantages-souvenir {
  padding: 182px 84px 81px;
}

.main-advantages-houses .main-advantages-title,
.main-advantages-foods .main-advantages-title,
.main-advantages-souvenir .main-advantages-title {
  margin-bottom: 30px;
}

.main-advantages-houses {
  background: url(../images/index/icon-house.svg) no-repeat center 80px;
  background-color: rgba(131, 179, 211, 0.12);
}

.main-advantages-foods {
  background: url(../images/index/icon-food.svg) no-repeat center 80px;
}

.main-advantages-souvenir {
  background: url(../images/index/icon-gift.svg) no-repeat center 80px;
  background-color: rgba(131, 179, 211, 0.12);
}

/* ПОИСК ГОСТИНИЦЫ */

.main-hotel-search {
  text-align: center;
  padding: 96px 0;
}

.main-hotel-search-title {
  margin-bottom: 20px;
}

.main-hotel-search-description {
  margin-bottom: 54px;
}
.main-hotel-search-button {
  display: inline-block;
  padding: 8px 50px;
  background: #756157;
  border-radius: 4px;
}

/*SUBSCRIBE*/

.main-subscribe {
  display: flex;
  flex-direction: column;
  padding: 68px 0 104px;
  color: #000;
  background-color: #fff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-subscribe-background {
  padding-top: 96px;
  background-image: url(../images/index/subscribe-image.jpg);
  color: #fff;
}

.main-subscribe-title {
  margin-bottom: 20px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}
.main-subscribe-description {
  margin-bottom: 54px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.main-subscribe-form {
  display: flex;
  justify-content: center;
}

.main-subscribe-button {
  width: 232px;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
}

.main-subscribe-field {
  padding: 14px 20px;
  width: 452px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;

  background: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border: none;
}

/*FOOTER*/

.footer {
  display: flex;
  justify-content: space-between;
  padding: 45px 70px 35px 70px;
}

.footer-social {
  display: flex;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 144px;
  list-style-type: none;
}

.footer-social-item {
  display: flex;
}

.footer-social-icon {
  color: #83b3d3;
}

.footer-social-item:hover .footer-social-icon {
  color: #68a2ca;
}

.footer-social-item:focus-visible .footer-social-icon {
  color: #68a2ca;
  outline: none;
  box-shadow: none;
}

.footer-social-item:active .footer-social-icon {
  color: rgba(104, 162, 202, 0.3);
}

.footer-contacts {
}

.footer-contacts-phone {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.footer-contacts-phone:hover {
  color: #756157;
}

.footer-contacts-phone:focus {
  color: #756157;
  outline: none;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-html-logo {
  display: flex;
  align-items: center;

  color: #000;
}

.footer-logo-icon {
  color: #000;
}

.footer-htmlacademy-link:hover .footer-logo-icon {
  color: #756157;
}

.footer-htmlacademy-link:focus .footer-logo-icon {
  color: #756157;
}

.footer-htmlacademy-link:active .footer-logo-icon {
  color: rgba(117, 97, 87, 0.3);
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 40px;
}

/*КАТАЛОГ-ФИЛЬТР*/

.catalog-products {
  min-height: 412px;
  padding: 35px 70px 70px;
  font-family: 'PT Sans';
  font-style: normal;
  background-image: url(../images/catalog/background-filter.jpg);
  background-color: #82b3d3;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-group:first-child {
  margin-right: 70px;
}

/* Filter Price Range */

.control-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 288px;
  margin-bottom: 44px;
}

.control-container::before {
  position: absolute;
  content: 'до';
  top: 12px;
  left: 248px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.control-container::after {
  position: absolute;
  content: 'от';
  top: 12px;
  left: 106px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.range-scale {
  position: relative;
  height: 4px;

  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #fff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.input-control {
  width: 143px;
  padding: 12px 20px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  background: #f2f2f2;
  border: none;
}

.input-control-left {
  border-radius: 4px 0 0 4px;
}

.input-control-rigth {
  border-radius: 0 4px 4px 0;
}

.control:last-child .input-control {
  border-radius: 0 4px 4px 0;
}

.input-control::-webkit-outer-spin-button,
.input-control::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.input-control:hover {
  background-color: #e6e6e6;
}

.input-control:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.input-control:active {
  background-color: #e6e6e6;
  outline: 2px solid #000000;
}

.catalog-filter-list {
  list-style-type: none;
}

.catalog-filter-title {
  padding: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  text-transform: capitalize;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.filter-button-container {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  padding-top: 56px;
}

.inner-header-title {
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  color: #fff;
}

.price-range {
  margin-left: 150px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  max-width: 114px;
  line-height: 21px;
  color: #fff;

  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:first-child::after {
  content: '';
  position: absolute;
  left: 23px;
  top: 0;
  width: 8px;
  height: 11px;
  background-image: url(../images/catalog/filter-breadcrumbs-arrow.svg);
  background-size: cover;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link-icon {
  display: block;
  width: 12px;
  height: 12px;
  background-image: url(../images/catalog/filter-breadcrubs-home.svg);
  background-size: cover;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: none;
  border-radius: 4px;
}

.control_round .control-mark {
  border-radius: 50%;
}

.control-input:checked + .control-mark::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background-image: url(../images/catalog/checkbox-icon.svg);
  background-position-x: 4px;
  background-position-y: center;
  background-repeat: no-repeat;
}

.control_round .control-input:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: '';
}

.control:hover .control-label {
  color: rgba(255, 255, 255, 0.6);
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.catalog-title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
}

/* ОБЩИЙ БАТОН */

.button {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border: none;
}

.filter-apply-uppercase {
  width: 191px;
  margin-bottom: 32px;
  background-color: #82b3d3;
  color: #fff;
  padding: 8px 50px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
}

.filter-reset-uppercase {
  width: 191px;
  padding: 8px 0;
  background-color: transparent;
  font-size: 16px;
  line-height: 20px;
}

/* CATALOG */

.main-inner-catalog {
  width: 1200px;

  padding: 50px 70px 86px;
}

.catalog-title-sort-container {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;

  list-style-type: none;
}

.hotel-card-link {
  display: block;
  margin-bottom: 16px;
  min-width: 300px;
  text-decoration: none;
}

.hotel-card-image {
  display: block;
  margin-bottom: 16px;
}

.hotel-card {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.sorting-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

.sorting-container-button {
  display: flex;
  flex-wrap: wrap;
  max-width: 160px;
  gap: 8px;
}

.select-control {
  margin-right: 70px;
  width: 292px;
  height: 49px;
  padding: 12px 34px 12px 18px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-image: url(../images/catalog/catalog-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 18px center;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid #68a2ca;
}

.select-control:active {
  border: 2px solid #3f5e72;
}

.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  background-image: url(../images/catalog/catalog-arrow-down-disabled.svg);
}

.sorting-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  outline: none;
}

.sorting-filter:hover,
.sorting-filter:active {
  border: 2px solid #000;
}

.sorting-filter:focus {
  border: 2px solid #68a2ca;
}

.sorting-current {
  border: 2px solid #000;
}

.hotel-card-title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000;
}

.hotel-card-title-last {
  margin-right: 30px;
}

.hotel-card-description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotel-card-description-container p {
  width: 140px;
}

.hotel-card-price {
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

.hotel-card-name,
.hotel-card-price {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333;
  margin-bottom: 16px;
}

.hotel-card-ranking {
  display: block;
  padding: 8px 0;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  background: #f2f2f2;
  border-radius: 4px;
}

.hotel-card-details-button {
  max-width: 140px;
  background: #756157;
  border-radius: 4px;
  padding: 8px 26px;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
}

.hotel-card-favorites-button {
  background: #82b3d3;
  border-radius: 4px;
  padding: 8px 20px;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
}

.favorites-button-current {
  padding: 8px 18px;
  background-color: #7db54f;
}

.stars {
  width: 140px;
  height: 36px;
}

.four-stars {
  background: url(../images/catalog/icon-star.svg) no-repeat 0,
    url(../images/catalog/icon-star.svg) no-repeat 24px,
    url(../images/catalog/icon-star.svg) no-repeat 48px,
    url(../images/catalog/icon-star.svg) no-repeat 72px;
}

.three-stars {
  background: url(../images/catalog/icon-star.svg) no-repeat 0,
    url(../images/catalog/icon-star.svg) no-repeat 24px,
    url(../images/catalog/icon-star.svg) no-repeat 48px;
}

.two-stars {
  background: url(../images/catalog/icon-star.svg) no-repeat 0,
    url(../images/catalog/icon-star.svg) no-repeat 24px;
}

.pagination {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 78px;
  gap: 8px;
  list-style-type: none;
}

.pagination::before {
  content: '';
  position: absolute;
  width: 100%;
  top: -40px;
  border-bottom: 1px solid #e6e6e6;
  z-index: 1;
}

.pagination-item {
  max-width: 100px;
}

.pagination-link {
  display: block;
  min-width: 60px;
  padding: 12px 5px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
}

.pagination-link:not(.pagination-current, .pagination-disabled) {
  background-color: #82b3d3;
}

.pagination-current {
  color: #000;
  background-color: #f2f2f2;
}
.pagination-disabled {
  color: #000;
  background-color: #fff;
  pointer-events: none;
}
/* Modal-windows */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
}

.modal-container-close {
  display: none;
}

.modal-search {
  width: 717px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  left: 613px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  background-image: url(../images/index/icon-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  opacity: 0.3;
  outline: none;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000;
  text-transform: uppercase;
}

.field-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;
}

.field-group-last {
  margin-bottom: 48px;
}

.form-label {
  align-items: center;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.field-container {
  position: relative;
}

.calendar {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 14px;
  right: 20px;
  background-image: url(../images/index/icon-calendar.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 4px;
}

.search-input {
  width: 440px;
  padding: 12px 20px;
  height: 48px;
  background-color: #f2f2f2;
  outline: none;
  border: none;

  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.search-input:hover {
  box-shadow: 0 0 0 1px #e6e6e6;
  background-color: #e6e6e6;
}

.search-input:focus {
  box-shadow: 0 0 0 3px #83b3d3;
}

.search-input:active {
  box-shadow: 0 0 0 2px #000;
  background-color: #f2f2f2;
}

.input-text {
  margin-left: 157px;
  margin-top: 4px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.error {
  color: #ff5757;
}

.correctly {
  color: #333;
}

.search-submit {
  background-color: #83b3d3;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 10px;
  line-height: 24px;
  cursor: pointer;
}

.search-form-date {
  display: flex;
  align-items: center;
}

.batton-container {
  position: relative;
  display: flex;
  margin-left: 46px;
  width: 110px;
  height: 48px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.input-counter {
  width: 31px;
  height: 48px;
  border: none;
  outline: none;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 4px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.input-counter::-webkit-outer-spin-button,
.input-counter::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.minus {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 48px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.minus-icons {
  position: relative;
  width: 23px;
  height: 23px;
  border: 3px solid transparent;
  border-radius: 4px;
  transition: border-color 0.2s ease;
}

.minus-icons::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 2px;
  transform: translate(-50%, -50%);
  background-color: rgba(117, 97, 87, 0.3);
  transition: background-color 0.2s ease;
  content: '';
}

.minus_plus .minus-icons::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 14px;
  transform: translate(-50%, -50%);
  background-color: rgba(117, 97, 87, 0.3);
  transition: background-color 0.2s ease;
  content: '';
}

.minus:focus .minus-icons {
  border-color: #82b3d3;
}

.minus:hover .minus-icons::before,
.minus:focus .minus-icons::before,
.minus_plus:hover .minus-icons::after,
.minus_plus:focus .minus-icons::before,
.minus_plus:focus .minus-icons::after {
  background-color: #000;
}

.minus:focus::before {
  border-radius: 4px;
}

.tooltip {
  margin-left: 10px;
  padding: 0 13px;
  position: relative;
  background-image: url(../images/index/icon-tooltip-info.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-color: #83b3d3;
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  padding: 15px 18px 18px 22px;
  top: 100%;
  left: 50%;
  width: 256px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgb(0 0 0 / 30%);
  transform: translate(-50%, 15px);
  z-index: 1;
}

.tooltip-text::after {
  position: absolute;
  content: '';
  top: -9px;
  left: 50%;
  width: 19px;
  height: 9px;
  background-image: url(../images/index/icon-info-tail.svg);
  background-repeat: no-repeat;
  transform: translate(-50%);
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.pagination-link:not(.pagination-current, .pagination-disabled):hover {
  background-color: #68a2ca;
}
.pagination-link:not(.pagination-current, .pagination-disabled):focus-visible {
  background-color: #68a2ca;
}
.pagination-link:not(.pagination-current, .pagination-disabled):active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.navigation-link-button:hover,
.hotel-card-details-button:hover,
.main-hotel-search-button:hover {
  background-color: #615048;
}

.navigation-link-button:focus,
.hotel-card-details-button:focus,
.main-hotel-search-button:focus {
  background-color: #615048;
}

.navigation-link-button:active,
.hotel-card-details-button:active,
.main-hotel-search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-favorites-button:hover,
.main-subscribe-button:hover,
.filter-apply-uppercase:hover,
.search-submit:hover {
  background-color: #68a2ca;
}

.hotel-card-favorites-button:focus,
.main-subscribe-button:focus,
.filter-apply-uppercase:focus,
.search-submit:focus {
  background-color: #68a2ca;
  outline: none;
}

.hotel-card-favorites-button:active,
.main-subscribe-button:active,
.filter-apply-uppercase:active,
.search-submit:active {
  color: rgba(255, 255, 255, 0.3);
}

.filter-reset-uppercase:hover,
.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.filter-reset-uppercase:focus,
.breadcrumbs-link:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.filter-reset-uppercase:active,
.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.filter-reset-uppercase:disabled,
.breadcrumbs-link:disabled {
  color: rgba(255, 255, 255, 0.1);
}
