@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ptsans-400.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ptsans-700.woff2') format('woff2');
  font-display: swap;
}

html {
  height: 100%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 0;
}

ol,
ul,
li {
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  font-family: 'PT Sans' sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000;
  background-color: #f2f2f2;
}

.page-container {
  background-color: #fff;
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Временно скрыл h1-h2 заголовки */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Header */
.page-header {
  color: #000;
  background-color: #fff;
  margin: 0 auto;
  width: 1200px;
}
.navigation {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
  align-items: center;
}
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 616px;
  margin: 0;
  padding: 0;
  align-items: center;
  list-style-type: none;
}
.navigation-item {
  margin-right: 32px;
}
.navigation-item-icon:first-child {
  margin-right: 25px;
}

.navigation-item:last-child {
  margin-right: 0;
}
.navigation-user {
  display: flex;
  margin-left: auto;

  justify-content: flex-end;
}

.navigation-logo {
  width: 140px;
  margin-right: 44px;
}

.navigation-logo-image {
  display: block;
  width: 140px;
  height: 70px;
}

.navigation-link {
  position: relative;
  display: block;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-link-icon {
  width: 20px;
  height: 20px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation-link-button {
  display: flex;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;

  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
  padding: 8px 34px;
  border-radius: 4px;
}

/* --- */

/* background hero-блока */
.main-index-hero-container {
  margin-top: 0;
}
.main-index-hero {
  flex-grow: 1;
  background-image: url(../images/index/divider.png), url(../images/index/main-hero-background.jpg);
  background-position: center bottom, center;
  background-size: 100% auto;
  background-repeat: no-repeat, no-repeat;
  background-color: #82b3d3;
  width: 1200px;
  height: 485px;
  margin: 0 auto;
}
/* Оттцентровал Welcom-картинку */
.hero-image {
  display: flex;
  justify-content: center;
  padding-top: 51px;
}

/* Hero-блок и поиск отеля*/
.main-description-sedona-container {
  display: flex;
  flex-direction: column;
}
.main-description-sedona-title {
  display: flex;
  width: 620px;

  margin: 69px auto 25px;
  /* padding-top: 69px; */
}
.main-description-sedona,
.main-hotel-search-description {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333;
  background-color: white;
}
.main-description-sedona-title,
.main-hotel-search-title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: black;
  background-color: white;
  text-transform: uppercase;
}

.main-description-sedona-text {
  width: 651px;
  height: 26px;
  margin: 0 auto 90px;
}
/* Блок-Преимуществ */
.main-advantages {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.main-advantages-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  text-align: center;
  list-style-type: none;
}
.main-advantages-container-text {
  display: flex;
  flex-direction: column;
}
.main-advantages-item {
  display: flex;
}
.main-advantages-picture {
  width: 800px;
  height: 384px;
}
.main-advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  padding-bottom: 30px;
  margin: 0 auto;
}
.main-advantages-title-small {
  width: 175px;
}

.main-advantages-title-big {
  margin-bottom: 30px;
  padding: 0;
}

.main-advantages-description {
  display: flex;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0 auto;
  padding-top: 30px;
  padding-left: 85px;
  padding-right: 85px;
}

.main-advantages-item-small {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 384px;
  padding-top: 103px;
}

.main-advantages-item-container-icon {
  display: flex;
  flex-direction: column;
}

.main-advantages-item-small-icon {
  padding: 80px 85px 121px;
}

.main-advantages-title-blue {
  width: 175px;
}

.bg-light-blue {
  color: white;
  background-color: #82b3d3;
  padding-top: 92px;

  text-align: center;
}

.bg-light-grey {
  background: rgba(131, 179, 211, 0.12);
  color: #333;
}

.advantages-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 76px;
  margin: 0 auto 20px;
}

.main-advantages-description-big {
  padding: 0;
}

/* ПОИСК ГОСТИНИЦЫ */

.main-hotel-search {
  align-items: center;
  text-align: center;
  padding-bottom: 96px;
}

.main-hotel-search-title {
  margin-top: 96px;
  margin-bottom: 20px;
}

.main-hotel-search-description {
  margin-bottom: 54px;
  width: 592px;
  margin: 0 auto 54px;
}
.main-hotel-search-button {
  background: #756157;
  padding: 8px 50px;
  margin-bottom: 96px;
}

/*SUBSCRIBE*/
.main-subscribe-background {
  background-image: url(../images/index/subscribe-image.jpg);
}

.main-subscribe {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;

  background-color: #000;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-subscribe-title {
  margin-top: 96px;
  margin-bottom: 20px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.main-subscribe-description {
  width: 475px;
  margin: 0 auto 54px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #fff;
}

.main-subscribe-form {
  display: flex;
  justify-content: center;
}

.main-subscribe-button {
  width: 232px;
  height: 52px;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
  border: none;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;

  text-transform: uppercase;
  color: #fff;
}
.main-subscribe-container {
  margin-bottom: 104px;
  text-align: center;
}

.main-subscribe-field {
  padding: 14px 20px;
  width: 452px;
  height: 52px;
  font-size: 18px;
  line-height: 24px;
  background: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border: none;
}

.main-subscribe-catalog {
  color: #333333;
  background: #ffffff;
}

.main-subscribe-title-catalog {
  color: #000000;
}
.main-subscribe-description-catalog {
  color: #333333;
}
/*FOOTER*/

.footer {
  display: flex;

  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
  margin-top: 45px;
  margin-bottom: 35px;
  align-items: center;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.footer-social-item {
  display: flex;
}

.footer-social-icon {
  color: #83b3d3;
}

.footer-social-item:hover .footer-social-icon {
  color: #68a2ca;
}

.footer-social-item:focus-visible .footer-social-icon {
  color: #68a2ca;
  outline: none;
  box-shadow: none;
}

.footer-social-item:active .footer-social-icon {
  color: rgba(104, 162, 202, 0.3);
}

.footer-contacts {
  margin-top: 45px;
  margin-bottom: 35px;
}

.footer-contacts-phone {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.footer-contacts-phone:hover {
  color: #756157;
}

.footer-contacts-phone:focus {
  color: #756157;
  outline: none;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-html-logo {
  display: flex;
  align-items: center;
  margin-top: 49px;
  margin-right: 70px;
  margin-bottom: 39px;
  color: #000;
}

.footer-logo-icon {
  color: #000;
}

.footer-htmlacademy-link:hover .footer-logo-icon {
  color: #756157;
}

.footer-htmlacademy-link:focus .footer-logo-icon {
  color: #756157;
}

.footer-htmlacademy-link:active .footer-logo-icon {
  color: rgba(117, 97, 87, 0.3);
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 40px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
}

/*КАТАЛОГ-ФИЛЬТР*/

.catalog-products {
  display: flex;
  justify-content: flex-start;
  width: 1200px;
  height: 412px;
  margin: 0 auto;
  padding: 35px 70px 70px;
  font-family: 'PT Sans';
  font-style: normal;
  background-image: url(../images/catalog/background-filter.jpg);
  background-color: #82b3d3;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

/* .filter-content {
  margin: 0 auto;
} */

.filter-catalog {
  display: flex;
}

.inner-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  display: flex;
  flex-direction: column;

  border: none;
  padding: 0;
}

.catalog-filter-group:first-child {
  margin-right: 70px;
}

.input-control {
  width: 143px;
  height: 48px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  background: #f2f2f2;
  border-radius: 4px 0 0 4px;
}

.control-container {
  display: flex;
}

.catalog-filter-list {
  list-style-type: none;
  margin-bottom: 73px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 32px;
}

.catalog-filter-item {
  margin-bottom: 16px;
}

.wi-fi {
  margin-bottom: 0;
}

.filter-button-container {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.filter-apply-uppercase {
  margin-bottom: 40px;
}

.inner-header-title {
  margin-bottom: 8px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #fff;
}

.price-range {
  margin-left: 140px;
}

.breadcrumbs {
  display: flex;

  color: #fff;

  list-style-type: none;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link-icon {
  margin-right: 10px;
}

.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
}
.catalog-title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
}

/* ОБЩИЙ БАТОН */

.button {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border: none;
}

.filter-apply-uppercase {
  background-color: #82b3d3;
  color: #fff;
  padding: 8px 50px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
}

.filter-reset-uppercase {
  background: transparent;

  font-size: 16px;
  line-height: 20px;
}

/* CATALOG */

.main-inner-catalog {
  width: 1200px;
  margin: 0 auto;
}

.catalog-title-sort-container {
  display: flex;
  margin: 50px 70px 40px;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;

  list-style-type: none;
  padding-left: 70px;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.sorting-container {
  display: flex;
  margin-left: auto;
}

.select-control {
  margin-right: 70px;
  width: 292px;
  height: 49px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.sorting-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  outline: 2px solid #e5e5e5;
  border-radius: 4px;
}

.sorting-filter:not(:last-child) {
  margin-right: 8px;
}

.sorting-filter:hover {
  outline: 2px solid #000;
  border-radius: 4px;
}

.sorting-filter:focus-visible {
  outline: 2px solid #68a2ca;
  border-radius: 4px;
}

.sorting-filter:active {
  outline: 2px solid #000;
}

.sorting-current {
  outline: 2px solid #000;
}

.hotel-card-title {
  margin-bottom: 16px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000;
}

.hotel-card-title-last {
  margin-right: 30px;
}

.hotel-card-description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotel-card-description-container p {
  width: 140px;
}

.hotel-card-price {
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

.hotel-card-name,
.hotel-card-price {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333;
  margin-bottom: 16px;
}

.hotel-card-ranking {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  background: #f2f2f2;
}

.hotel-card-details-button {
  background: #756157;
  border-radius: 4px;
  padding: 8px 26px;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
}

.hotel-card-favorites-button {
  background: #82b3d3;
  border-radius: 4px;
  padding: 8px 20px;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
}

.container-border {
  display: flex;
  width: 1060px;
  margin: 40px auto;
  border-top: 1px solid #e6e6e6;
  transform: rotate(180deg);
}

.pagination {
  display: flex;
  height: 60px;
  padding-left: 70px;
  padding-right: 70px;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-item {
  width: 60px;
  height: 60px;
}

.pagination-link {
  display: block;
  padding: 12px 20px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
}

.pagination-link:not(.pagination-current, .pagination-disabled) {
  background-color: #82b3d3;
}

.pagination-current {
  color: #000;
  background-color: #f2f2f2;
}
.pagination-disabled {
  color: #000;
  background-color: #fff;
  pointer-events: none;
}
.pagination-link:not(.pagination-current, .pagination-disabled):hover {
  background-color: #68a2ca;
}
.pagination-link:not(.pagination-current, .pagination-disabled):focus-visible {
  background-color: #68a2ca;
}
.pagination-link:not(.pagination-current, .pagination-disabled):active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.navigation-link-button:hover,
.hotel-card-details-button:hover,
.main-hotel-search-button:hover {
  background-color: #615048;
}

.navigation-link-button:focus-visible,
.hotel-card-details-button:focus-visible,
.main-hotel-search-button:focus-visible {
  background-color: #615048;
}

.navigation-link-button:active,
.hotel-card-details-button:active,
.main-hotel-search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-favorites-button:hover,
.main-subscribe-button:hover,
.filter-apply-uppercase:hover {
  background-color: #68a2ca;
}

.hotel-card-favorites-button:focus-visible,
.main-subscribe-button:focus-visible,
.filter-apply-uppercase:focus-visible {
  background-color: #68a2ca;
}

.hotel-card-favorites-button:active,
.main-subscribe-button:active,
.filter-apply-uppercase:active {
  color: rgba(255, 255, 255, 0.3);
}

.filter-reset-uppercase:hover,
.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.filter-reset-uppercase:focus-visible,
.breadcrumbs-link:focus-visible {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.filter-reset-uppercase:active,
.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.filter-reset-uppercase:disabled,
.breadcrumbs-link:disabled {
  color: rgba(255, 255, 255, 0.1);
}
